{% extends 'base.html' %}
{% load static %}
{% block title %}{{post.Blog_title_tag }}{% endblock %}

{% block content %}
<!-- right part -->
<div class=" flex flex-col">
       <div class="flex flex-col max-w-2xl">
        <div class="flex justify-between items-baseline">
            <span class="font-light py-1">{{ post.pub_date }}</span>
            <a class="px-2 py-1 text-indigo-600" href="#">#{{ post.tags }} </a>
        </div>
        <div>
            <img src="{{ post.image.url }}" class="bg-cover rounded-lg">
        </div>

        <div class="mt-2 flex justify-between ">
            <p class="text-lg font-semibold " href="{% url 'ArticleDetail' post.pk %}">{{ post.title }}</p>
             <p>
              <a href="{% url 'ArticleUpdate' post.pk %}" class="text-xs hover:underline text-indigo-600 font-mono">(Update Post)</a>
              <span class="text-black text-xs px-1">/</span>
              <a href="{% url 'ArticleDelete' post.pk %}" class="text-xs hover:underline text-indigo-600 font-mono">(Delete Post)</a>
            </p>
        </div>
        <div>
             {% autoescape off %}
            <p class="mt-2 text-lg text-gray-800">{{ post.body|linebreaks}}</p>
             {% endautoescape %}

        </div>
    </div>
 </div>
 <div class="my-4">
   <h1 class="">
     <a class="text-indigo-600 hover:underline" href="{% url 'home'%}">Back To Home</a>
   </h1>
 </div>
{% endblock %}
