{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome to zwiwi.com{% endblock %}

{% block content %}
<!-- right part -->
<div class=" flex flex-col mb-4 ">
       <div class="flex flex-col pb-20 max-w-lg">
        <div class="flex justify-between items-baseline">
            <span class="font-light py-1">{{ post.pub_date }}</span>
            <a class="px-2 py-1 text-indigo-600" href="#">#{{ post.tags }} </a>
        </div>
        <div>

            <img src="{{post.image.url}}" class="bg-cover rounded-lg">
         </div>
        <div class="mt-2">
            <a class="text-xl text-gray-700 font-bold hover:text-gray-600" href="{% url 'ArticleDetail' post.pk %}">{{ post.title }}</a>
            <p class="mt-2 text-gray-500">{{ post.body}}</p>
        </div>

    </div>
 </div>
{% endblock %}
