{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome to Blog posts{% endblock %}

{% block content %}
<!-- right part -->
<div class=" flex flex-col mb-4 ">
{% if object_list %}
    {% for post in object_list %}
     <div class="flex flex-col pb-20 max-w-lg">
        <div class="flex justify-between items-baseline">
            <span class="font-light py-1">{{ post.pub_date }}</span>
            <a class="px-2 py-1 text-indigo-600" href="#">#{{ post.tags }} </a>
        </div>
        <div>
            <img src="{{post.image.url}}" class="bg-cover rounded-lg">
         </div>

        <div class="mt-2 flex justify-between ">
            <p class="text-lg font-semibold" href="">{{ post.title }}</p>

            {% if user.is_authenticated %}
            <div>
              <a href="{% url 'ArticleUpdate' post.pk %}" class="text-xs hover:underline text-indigo-600 font-mono pl-6 ">(Update Post)</a>
              <span class="text-black text-xs px-1">/</span>
              <a href="{% url 'ArticleDelete' post.pk %}" class="text-xs hover:underline text-indigo-600 font-mono">(Delete Post)</a>
            </div>
            {% endif %}
        </div>
        <p class="mt-2 text-lg text-gray-800">{{ post.body|truncatewords:20 }}</p>
        <div class="flex justify-between items-center my-4">
            <a class="text-indigo-600 hover:underline" href="{% url 'ArticleDetail' post.pk %}">Read more</a>
        </div>
    </div>
    {% endfor%}
{% endif %}
</div>
{% endblock %}


{% block sidebar%}
<!-- sidebar fixed on large screens and hidden on small -->
<div class="hidden lg:block fixed top-0 mt-64 pt-32 ">
    <p class="font-medium text-xl pb-2">The Tags</p>
    <ul class="text-indigo-600 ">
        <li>
            <a class=" hover:underline pr-2" href="{% url 'projects' %}">#Web Design</a>
        </li>
         <li>
             <a class="hover:underline pr-2" href="{% url 'projects' %}">#Machine Learnig</a>
        </li>
         <li>
             <a class=" hover:underline pr-2" href="{% url 'projects' %}">#The Sea</a>
        </li>
         <li >
             <a class=" hover:underline pr-2" href="{% url 'projects' %}">#Apps</a>
        </li>
    </ul>
</div>
{% endblock%}




</body>
</html>
