{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome to zwiwi.com{% endblock %}

{% block content %}
<!-- right part / main subject-->
<div class="mt-2 tracking-wide text-lg leading-relaxed text-gray-800">
    {% if all_items %}
            {% for x in all_items %}
                 {% autoescape off %}
                 {{ x.body|linebreaks }}
                 {% endautoescape %}
             {% endfor%}
    {% endif %}
</div>
{% endblock %}

{% block post %}
<!-- left & right -->
<div class="lg:flex mt-24">
<!-- left part -->
    <div class="flex-none lg:w-1/4 ">
        <p class="lg:fixed text-lg pb-4">The Latest Post</p>
    </div>
<!-- right part -->
    <div class="lg:w-3/4 ">
    {% if latest_post %}
        <div class="pb-20 max-w-lg ">
            <div class="flex justify-between items-start pb-1">
                <span class="font-light">{{ latest_post.pub_date }}</span>
                <a class="text-indigo-600" href="#">#{{ latest_post.tags }} </a></span></a>
            </div>
            <div>
                  <img src="{{ latest_post.image.url }}" class="bg-cover rounded-lg">
            </div>
            <div class="mt-2">
                <p class="text-2xl font-semibold">{{ latest_post.title  }}</p>
                {% autoescape off %}
                <p class="mt-2">{{ latest_post.body|truncatewords:20|linebreaks}}</p>
                {% endautoescape %}

            </div>
            <div class="flex justify-between items-center my-4">
                <a class="text-indigo-600 hover:underline" href="{% url 'ArticleDetail' latest_post.pk %}">Read more</a>
            </div>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}










</body>
</html>
