{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome to bresgeorge.com{% endblock %}
{% block content %}

<!--
<div class="mt-10">
    <ul class="list-decimal">
        <li>
            <div class=" " >
                <div class="flex-auto bg-blue-400 ">
                  <a class="text-red-700 text-lg font-semibold bg-green-400" onmouseover = "show()" onmouseout="hide()" href="{% url 'about' %}">Nihilist Arby's Wall Art</a>
                </div>


            </div>
            <p class="">#web design <span class="">#2019</span> </p>
        </li>
          <li>
            <p class="text-lg font-semibold " > casamania</p>
            <p class="">#web design</p>
        </li>
          <li>
            <p class="text-lg font-semibold " > miow</p>
            <p class="">#web design</p>
        </li>
          <li>
            <p class="text-lg font-semibold " >  interior</p>
            <p class="">#web design</p>
        </li>
          <li>
            <p class="text-lg font-semibold " > Nihilist Arby's Wall Art</p>
            <p class="">#web design</p>
        </li>
    </ul>
</div>
<br>
 <div class="flex-1 ">
                   <img src="{% static 'images/ai.png' %}"  class="object-cover ml-64 w-2/5 border-double border-4 border-red-700" style="visibility:hidden" id = "img1" >
 </div>
 -->


<div class="grid grid-cols-3 gap-4">
  <div>1</div>
  <!-- ... -->
  <div>9</div>
</div>



<script type = "text/javascript">
function show() {
    document.getElementById('img1').style.visibility = 'visible';
}
function hide() {
    document.getElementById('img1').style.visibility = 'hidden';
}

</script>



{% endblock %}

</body>
</html>